<h1>${title}</h1>
${classInfoData.map(entry => { return `
<p>I am <strong>${entry.status_title}</strong> at ${entry.topic_name}. ${entry.rank} STARS!</p>
` }).join('')}
<hr />
<form name="survey-form" action="/" method="POST" class="form">
    I am changing my HTML score. I am now:<br />
    <label
        >Awesome
        <input type="radio" value="1" name="topic_ranking_id" />
    </label>
    <label
        >Great
        <input type="radio" value="2" name="topic_ranking_id" />
    </label>
    <label
        >Good
        <input type="radio" value="3" name="topic_ranking_id" />
    </label>
    <label
        >Okay
        <input type="radio" value="4" name="topic_ranking_id" />
    </label>
    <label
        >Poor
        <input type="radio" value="5" name="topic_ranking_id" />
    </label>
    <label
        >Unranked
        <input type="radio" value="6" name="topic_ranking_id" />
    </label>
    <button type="submit">Update Rankings</button>
</form>